<!-- Sidebar -->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <!-- Brand Section -->
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/brand/brand.png',
      width: 250,
      height: 56,
      alt: 'Brand Logo'
    }"
    [brandNarrow]="{
      src: 'assets/img/brand/coreui-signet-white.svg',
      width: 46,
      height: 46,
      alt: 'CoreUI Logo'
    }"
  ></c-sidebar-brand>

  <!-- Sidebar Navigation -->
  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <c-sidebar-nav [navItems]="navItems">
      <ng-template let-item="item" pTemplate="item">
        <a [routerLink]="item.url" class="nav-link">
          <!-- Dynamically Render Icons with ngClass -->
          <i *ngIf="item.iconComponent" [ngClass]="item.iconComponent" class="nav-icon"></i>
          <span>{{ item.name }}</span>
        </a>
      </ng-template>
    </c-sidebar-nav>
  </perfect-scrollbar>

  <!-- Sidebar Toggler -->
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  ></c-sidebar-toggler>
</c-sidebar>

<!-- SECOND PART OF DASHBOARD -->

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <app-default-header
    class="mb-4 d-print-none header header-sticky"
    position="sticky"
    sidebarId="sidebar"
  ></app-default-header>
  
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
